<p>Hello!</p>

<p>You have been invited to setup account on WGT Notify Turow, follow the link to finish registration:</p>

<p>
  <%= link_to new_user_registration_url(token: @token, email: @email) %>
</p>
