<ul class='nav nav-tabs'>

  <% if edit_action? %>
    <li class="icon new_collection_link <%= edit_active? %>">
      <%= link_to fa_icon('pencil', text: t('common.edit')), '#' %>
    </li>
  <% end %>

</ul>
