<p>
  Wiadomość została wysłana do Państwa z Elektrowni Turów celem zmiany hasła administratora w systemie bezobsługowego ważenia na wadze samochodowej.
</p>

<p>
  Aby dokończyć proces zmiany hasła, proszę kliknąć poniższy link i wypełnić dane na formularzu.
</p>

<p>
  <%= link_to 'personalny-link-zmiany-hasła', edit_password_url(@resource, reset_password_token: @token) %>
</p>
