<!DOCTYPE html>
<html>
  <head>
    <title>PGE Turów - awizacja ważeń</title>
    <style>

      .qr-code table {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
      }

      .qr-code td {
        padding: 0;
        margin: 0;
        width: 0;
      }

      .qr-code.small td {
        border-left: solid 2px #000;
        height: 2px;
      }

      .qr-code.medium td {
        border-left: solid 3px #000;
        height: 3px;
      }

      .qr-code.large td {
        border-left: solid 4px #000;
        height: 4px;
      }

      .qr-code td.black {
        border-color: #000;
      }

      .qr-code td.white  {
        border-color: #fff;
      }

    </style>
  </head>

  <body>

    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
